@media only screen and (max-width: 578px) {
    .card-flex {
        display: flex;
        justify-content: center;
    }
    
    .card-width {
        width: 18rem;
    }
    
}

.card-wrapper {
    border: none !important;
    background-color: transparent !important;
}

.img-radius {
    border-radius: 2rem !important;
}