.bg-color {
    background-color: #4C4C4C
}

@media only screen and (max-width: 768px) {
    .center-img {
      text-align: center;
    }

}

.back-button {
    background-color: transparent;
    border: none;
}

.back-button:hover {
    color: white
}

.scroll-wrapper{
    height: 20rem;
    display: flex;
    overflow-x: auto;
}


.scroll-wrapper-item{
    min-width: 11rem;
    height: 11rem;
    line-height: 11rem;
    margin-right: 1rem;
}


/* image radius */

.img-radius{
    border-radius: .25rem;
}

