.bg-color {
    background-color: #4C4C4C
}

@media only screen and (max-width: 768px) {
    .center-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

}

.back-button {
    background-color: transparent;
    border: none;
}

.back-button:hover {
    color: white
}
