.form-bg {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(179, 178, 178);
}

.link {
    text-decoration: none;
    color: #DC3545;
}

.link:hover {
    text-decoration: underline;
    color: #DC3545;
}
