.parent-content{
    position: fixed;
    animation: alert-appear .5s ease-out forwards;
    z-index: 100;
}

.child-content{
    margin-top: 6.5rem;
    padding: 1.25rem;
    border-radius: 1rem 0 1rem 0;
    background-color: #DC3545;
    color: white;
}

@keyframes alert-appear {
    from {
      opacity: 0;
      transform: translateX(0);
    }
  
    to {
      opacity: 1;
      transform: translateX(1rem);
    }
}