.hero-height {
    height: 20rem;
}

.hero-img {
    background-image: url('../../assets/hero-img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}