.hero-img {
    height: 22rem;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('../../assets/main-img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 5rem;
}
