.input-container {
    margin-top: -5rem;
}

.input {
    padding: .75rem;
    font-weight: bold;
}

.input-margin {
    margin-top: -7rem;
    margin-bottom: 8rem;
}

.icon-position {
    cursor: pointer;
    position: absolute;
    top: 11.5px;
    right: 14px;
}
